extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='POST', enctype='multipart/form-data', action='uploaddufichier')
    input(type='file', name='monfichier' multiple)
    button envoyer 
